<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.gz.eleicoes"

    versionCode = "1" 
    version     = "1.0.0" 
>

    <!-- versionCode is optional and Android only -->

    <name>Eleitores</name>
    <icon src="icon.png"/>
    <description>
        Eleitores Mobile
    </description>
    <!-- <gap:platform name="ios" /> -->
    <gap:platform name="android" />
    <!-- <gap:platform name="winphone" /> -->
    <author href="adx.doctum.edu.br" email="suporteadx@doctum.edu.br">
        GZ softwae 
    </author>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <!-- <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.InAppBrowser" />
    </feature>
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature> -->

    <preference name="target-device" value="universal" />
    <!-- <preference name="stay-in-webview" value="true"/> -->
    <preference name="keepRunning" value="true" />
    <preference name="orientation" value="portrait" />
    <access origin="*" subdomains="true" browserOnly="true" />
    <!-- <gap:plugin name="org.apache.cordova.device" version="0.2.8" /> -->
    <!-- <gap:plugin name="cn.push.cordova.plugin.local-notification" version="0.7.3" /> -->
    <!-- <gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.5.0" /> -->
</widget>